.button {
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #2f1728;
  background-color: #f5b539;
  margin: 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: .1rem;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease all;
}

.button:hover {
  background-color: #f5ba39;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, 0.1);
}

.button.spans-two {
  flex-grow: 2;
}
